# Allows us to call *.php as * etc.
Options -MultiViews

# Required for rewrites
RewriteEngine On
# Base directory for the app, ignoring it for url splitting
RewriteBase /BaudGames/games/Blackjack/public

## Takes the current url and parses it back as a query string
## e.g. /home/index becomes index.php?url=home/index
# {
# Don't rewrite any real directories with urls
RewriteCond %{REQUEST_FILENAME) !-d
# Don't rewrite any real directories with files
RewriteCond %{REQUEST_FILENAME) !-f
#                                   [http://httpd.apache.org/docs/2.4/rewrite/flags.html]
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
# QSA combines all query strings including any existing
# }           