Options -MultiViews
RewriteEngine On
# Base directory for the app, ignoring it for url splitting
RewriteBase /BaudGames/games/Blackjack/public

RewriteCond %{REQUEST_FILENAME) !-d
RewriteCond %{REQUEST_FILENAME) !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
